body{
    background-color: darkgreen;
    color: aliceblue;
    font-weight: 200;
    font-family: sans-serif;
}

.logintab{
    align-content: center;
    margin: 20px;
    padding: 10px;
}

tbody,table,tr,td{
    margin: 20px;
    padding: 20px;
    
}

.loginbtn{
height: 30px;
width: 150px;
}

table{
    border-radius: 10%;
    
}

td{
    border: 1px solid turquoise;
}

.tablelg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.icon{
    border: none;
}

.fa-user{
    justify-content: center;
    color: black;
    font-size: 35px;
    margin-left: 100px;
}